@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@400;700&display=swap');
:root{
    --lightest: #FFFFFF;
    --light: #D1DEE9;
    --mid: #8197A9;
    --dark: #283845;
    --darknest: #202C39;
    --brand: #97591C;
    --buttoncolor: #31a931;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial' ,sans-serif;
}

body {
    background-image: url(./imagem/pexels-ann-poan-5797903.jpg);
    width: 100vw;
    height: 100vw;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    color: var(--lightest);

    
}



h1 {
    color: black;
    font-size: 3em;

}
span {
    color: var(--brand);
}
.container {
    width: 80%;
    max-width: 750px;
    padding: 2em 1em;
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--darknest);
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
#tarefas {
    min-width: 90%;
}
#texto-input {
    padding: 0.7em;
    border-radius: 5px;
    margin-right: 1em;
    width:70% ;
}
#texto-input:focus {
    outline: 1px solid var(--brand);
}

#adicionar {
    background-color:var(--buttoncolor);

}

#cadastro{
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    width: 88%;
}
ul {
    list-style: none;
    min-width: 10em;
}
li {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    background-color: var(--darknest);
    margin: 0.3em;
    border-radius: 5px;
    align-items: center;
    
}
button {
    padding: 0.7em;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
button.excluir {
    background-image: url(./imagem/icons8-excluir-48.png);
    background-size: 2em;
    background-position: center center;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    
}
button.concluir {
    background-image: url(./imagem/icons8-tarefa-concluída-48.png);
    background-size: 2em;
    background-position: center center;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
}



div > button:hover{
    color: var(--brand);
    background-color: var(--dark);
    border-radius: 50%;
    transform: scale(1.2);

}

img {
    width: 2em;
}
.concluir{
    text-decoration: line-through;
}
